body{
    font-family: "Roboto", sans-serif;
}


h1{
    text-align: center;
    color: rgb(3, 49, 51);
   text-shadow: 2px 4px 6px #1f065a;
}
.imge{
    position: relative;
    left: 40%;
    width: 300px;
    border-radius: 4px;
    box-shadow: 15px ;
    border: 1px solid rgb(4, 50, 58);
    padding: 10px;
    box-shadow: 5px 10px rgb(2, 54, 61) ;
}
body{
    background-color: rgb(171, 228, 206);
    
}

.logo{
    width: 40px;
    height: 40px;
    position: relative;
    top: 80px;
}
.nav{
    display: flex;
    justify-content:space-evenly;

}
p{
    position: relative;
    top: 100px;
    color: rgb(2, 63, 63);
    font-size: 12px;
}